@using StudentAssistant.WebUI.Dtos.Notes
@model UpdateNotesDto
@{
    ViewData["Title"] = "UpdateNotes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Notu Güncelle</h1>
<br />
<div class="compose-content mt-5">
    <form method="post">
        <input type="hidden" asp-for="NotesID"/>
        <div class="form-group">
            <label class="form-control bg-transparent" asp-for="Date">@DateTime.Now.ToString("dddd, dd MMMM yyyy")</label>
        </div>
        <div class="form-group">
            <input class="form-control bg-transparent" asp-for="Subject" placeholder="Konu Başlığı ..." />
        </div>
        <div class="form-group">
            <textarea class="textarea_editor form-control bg-light" rows="15" placeholder="Notunu Yaz ..." asp-for="NotesText"></textarea>
        </div>
        <button class="btn btn-outline-primary">Kaydet</button>
    </form>
</div>




