@using StudentAssistant.WebUI.Dtos.Student
@model UpdateStudentDto
@{
    ViewData["Title"] = "UpdateStudent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<a href="~/lib/jquery/dist/jquery.min.map"></a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<h1>Öğrenci Bilgileri Güncelleme</h1>
<br/>
<form method="post">
    <input type="hidden" asp-for="StudentID"></input>
    <label>Öğrenci Ad</label>
    <input type="text" asp-for=Name class="form-control"></input>
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Öğrenci Soyad</label>
    <input type="text" asp-for=Surname class="form-control"></input>
    <span asp-validation-for="Surname" class="text-danger"></span>
    <br />
    <label>Öğrenci Yaş</label>
    <input type="text" asp-for=Age class="form-control"></input>
    <span asp-validation-for="Age" class="text-danger"></span>
    <br />
    <label>Öğrenci Öğrenim Durumu</label>
    <input type="text" asp-for=Status class="form-control"></input>
    <span asp-validation-for="Status" class="text-danger"></span>
    <br />
    <label>Öğrenci Bölüm</label>
    <input type="text" asp-for=Department class="form-control"></input>
    <span asp-validation-for="Department" class="text-danger"></span>
    <br />
    <label>Öğrenci Sınıf</label>
    <input type="text" asp-for=Class class="form-control"></input>
    <span asp-validation-for="Class" class="text-danger"></span>
    <br />
    <label>Öğrenci Şehir</label>
    <input type="text" asp-for=City class="form-control"></input>
    <span asp-validation-for="City" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-success" id="btnGüncelle">Bilgileri Güncelle</button>
    
</form>

<script>
    document.getElementById('btnGüncelle').addEventListener('click', function () {
        Swal.fire({
            // title: 'Uyarı!',
            text: 'Güncelleme işlemi başarılı..',
            icon: 'success',
            timer: '3000', 
            showConfirmButton: false
        });
    });
</script>



